<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Posts</title>
    <style>
        body {
            font-family: Futura;
            width: 80vw;
            margin: 0 auto;
        }
        h1, h2, h3 {
            padding-top: 10px;
        }
        h1 {
            color: turquoise;
        }
        h3 {
            color: grey;
        }
        a {
            text-decoration: none;
            color: cadetblue;
        }
        a:hover {
            color: grey;
            text-decoration: overline underline;
        }
    </style>
</head>
<body>
    <h1>Here are the posts:</h1>
    <a href="add"><h2>Add a post</h2></a>
    {% for post in posts %}
    <h2>{{ post.title }}</h2>
    <p>{{ post.content }}</p>
    <p>{{ post.created_date }}</p>
    <form method="GET" action="edit/{{ post.id }}"><input type="submit" value="Edit"></form>
    {% empty %}
    <h3>There are no posts I'm araid :|</h3>
    {% endfor %}
</body>
</html>